body{
    background-color:rgb(24, 22, 22);
    font-family:'Bungee Shade';
    border: 5px solid rgb(126, 22, 22);
    border-radius:25px;
    display: block;
    flex-wrap:wrap;
    height:1000px;
    color:white;
}

.divheader{
  height: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height:50px;
  width:100%;
  font-size: 40px;
}
#divContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:500px;
    width:100%;
}
.grid-container {
    display: grid;
    height:300px;
    width:300px; 
    display: flex;
    flex-direction: row;
    background-color: lightseagreen;
    /* grid-template-columns: 100px 100px 100px;  */
    /* padding: 5px;
    grid-column-gap: 10px;
    grid-row-gap: 10px; */
    border:2px solid white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center 
}
 .grid-item {
    background-color: white;
    border: 5px solid black;
    box-sizing: border-box;
    height:100px;
    width:100px; 
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.button{

    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    color: #f0f7f0;
    background-color: lightseagreen;
    border-radius:25px;
    border: 3px double #15717e;
    display: block;
    text-align: center;
    font-family: 'Lilita One';
    

}

  .button:hover{
    color: lightseagreen;
    background-color:#f0f7f0;
  }

#blue-player{
  background-color: blue;
  text-align: left;
  font-size: 15px;
  font-family: 'Lilita One';
  padding: 10px;
  height:30px;
  width:25%;
  color: white ;
  border-radius:5px;
  
}
#red-player{
  background-color: red;
  text-align: left;
  font-size: 15px;
  font-family: 'Lilita One';
  padding: 10px;
  height:30px;
  width:25%;
  border-radius:5px;
  color: white ;
}

.game-board{
  border: 5px solid white;
  background-color: lightseagreen;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  height:150px;
  width:260px;
  color: black ;
  border-radius:25px;

}
.game-board-score{
    display: inline-block;
    border: 2px solid white;
} 
#red-score{
  height:30px;
  width:40%;
  padding: 10px;
  font-family: 'Black Ops One';
  font-size: 30px;
  border-radius:5px;

}
#blue-score{
  height:30px;  
  padding: 10px;
  font-family: 'Black Ops One';
  width:40%;
  font-size: 30px;
  border-radius:5px;
} 
