body{
    background-color:lightgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}
.grid-container {
    display: grid;
    height:200px;
    width:200px;
    background-color: lightseagreen;
    grid-template-columns: 60px 60px 60px;
    padding: 5px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border:2px solid white;
    justify-content: center;
}
.grid-item {
  background-color: white;
  border: 5px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.button{
  border: solid;
  color: rgb(37, 99, 119);
  padding: 5px 10px;
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 6px 4px;
  cursor: pointer;
  background-color: lightseagreen;
  color: rgb(255, 255, 255);
  

}
#blue-player{
  background-color: blue;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  height:20px;
  width:70px;
  
}
#red-player{
  background-color: red;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  height:20px;
  width:70px;
}

.game-board{
  border: 2px solid white;
  background-color: lightseagreen;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  height:120px;
  width:170px;
  color: white;

}
.game-board-score{
    display: inline-block;
    border: 2px solid white;
} 
#red-score{
  height:20px;
  width: 30px;
  padding: 10px;

}
#blue-score{
  height:20px;  
  width: 30px;
  padding: 10px;
}
